html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial;
  text-align: center;
}

body * {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(1, 0, 0);
  }
}

#Services {
  background: #628CE5;
  background: -webkit-linear-gradient(bottom, #628CE5, #FFFFFF);
  background: -moz-linear-gradient(bottom, #628CE5, #FFFFFF);
  background: linear-gradient(to top, #628CE5, #FFFFFF);

}
a{text-decoration:none!important;}
 .fa-z {
    color: white;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
}

.social {
    color: #4D045D;
    background-color: white;
    border-radius: 50%;
}

.footer {
  background-color: #4D045D;
  color: white;
}

.gap{
  padding: 2rem;
  font-size: 1.2rem;
}

.address-info{
  text-align: right;
}

.footer-copyright {
    background-color: #000000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.howWork p {
  font-size: 25px;
  padding-top: 30px;
}

.service {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  padding-top: 50px;
  flex-wrap: wrap;
}
.service.one {
  margin: 0;
  padding: 0 0 50px 0;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.box1 {
  background: white;
  display: flex;
  box-shadow: 28px 24px 61px -21px rgba(58, 58, 166, 1);
  max-width: 300px;
  border-radius: 10px;
  height: 150px;
}

.box1:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.box2:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.box1 i {
  padding: 40px 10px;
}

.box1 p {
  padding: 60px 18px;
  font-size: 25px
}

.box2 {
  background: white;
  display: flex;
  box-shadow: 28px 24px 61px -21px rgba(58, 58, 166, 1);
  max-width: 300px;
  border-radius: 10px;
  height: 150px;
}

.box2 i {
  padding: 40px 10px;
}

.box2 p {
  padding: 60px 18px;
  font-size: 23px
}

.question {
  text-align: center;
}

#question {
  margin-top: 120px
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  background: steelblue;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: linear-gradient(45deg, steelblue 0%, steelblue 100%);
  padding: 12px 0;
}

#header .logo {
  margin: 0 !important;
  padding: 0;
  size: 24px;
}

.nav-justify {
  justify-content: space-around !important;
}

#header.header-scrolled .logo {
  visibility: visible;
}

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }

  #header .logo {
    font-size: 28px;
  }
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul {
  display: flex;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .active>a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 22px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #2c4964;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
  color: #5846f9;
}

.nav-menu .drop-down>a:after {
  content: "";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down>a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
  content: "";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover>ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down>a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  color: #fff;
  border-radius: 5px;
  padding: 6px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.get-started-btn:hover {
  border-color: #fff;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 10px;
    padding: 6px 18px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper.py-4 {
  height: 100%;
  width: 100%;
  position: relative;
}

.wrapper .menu-btn i {
  color: white;
  position: absolute;
  transform: ;
  top: 12px;
  right: 50px;
  font-size: 23px;
  transition: all 0.3s ease;
}

.wrapper .menu-btn i.fa-times {
  opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
  opacity: 1;
  transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
  opacity: 0;
  transform: rotate(180deg);
}

#sidebar {
  position: fixed;
  background: linear-gradient(45deg, steelblue 0%, steelblue 100%);
  height: 100%;
  width: 270px;
  overflow: hidden;
  top: 0;
  left: -270px;
  transition: all 0.3s ease;
}

#btn:checked~#sidebar {
  left: 0;
  top: 0;
}

#sidebar .title {
  line-height: 65px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  border-bottom: 2px solid #fff;
}

#sidebar .list-items {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
}

#sidebar .list-items li {
  line-height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #fff;
}

#sidebar .list-items li:first-child {
  border-top: none;
}

#sidebar .list-items li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}

#sidebar .list-items li a i {
  margin-right: 20px;
}

#sidebar .list-items .icons {
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar .list-items .icons a {
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: 1.3px solid #fff;
  transition: all 0.3s ease;
}

#sidebar .list-items .icons a:hover {
  box-shadow: 3px 4px solid #fff;
  border: 2px solid #fff;
}

.list-items .icons a:first-child {
  margin-left: 0px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #202020;
  z-index: -1;
  width: 100%;
  text-align: center;
}

.content .header {
  font-size: 45px;
  font-weight: 700;
}

.content p {
  font-size: 40px;
  font-weight: 700;
}

label.menu-btn {
  display: none !important;
}

@media (max-width:991px) {
  label.menu-btn {
    display: block !important;
  }

  .userlog {
    display: none !important;
  }
}

.pie-chart {
  font-family: "Open Sans", Arial;
}

.pie-chart--wrapper {
  width: 400px;
  margin: 30px auto;
  text-align: center;
}

.pie-chart__pie, .pie-chart__legend {
  display: inline-block;
  vertical-align: top;
}

.pie-chart__pie {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px auto 35px;
}

.pie-chart__pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #EEE;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}

.pie-chart__pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  -webkit-animation: bake-pie 1s;
  animation: bake-pie 1s;
}

.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.pie-chart__legend {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  background: #FFF;
  padding: 0.75em 0.75em 0.05em;
  font-size: 13px;
  box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
  text-align: left;
  width: 65%;
}

.pie-chart__legend li {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}

.pie-chart__legend em {
  font-style: normal;
}

.pie-chart__legend span {
  float: right;
}

.pie-charts {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

@media (max-width: 500px) {
  .pie-charts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
